<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 class="text-center">Edit Comment</h1>
        <div style="width: 30%; margin: 25px auto">
        <form action="/campgrounds/<%=campground_id %>/comment/<%=comment._id %>?_method=PUT" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="comment" value="<%= comment.text %>">
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Editar">
            </div>
        </form>
        <a class="" href="">Voltar</a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>